html {
	font-size: 16px;
}

body{
  background-image: url(SO_texture_bg.jpg);
  background-repeat:repeat;
  background-color: #FFF9DE;
}


/*for navigation bar on about page*/
.navLinks {
	list-style-type:none;
	text-align: center;
	margin:0;
	padding:0;
/*	overflow: hidden;*/
	background-color:#0F2613;
}

.navLinks li {
/*	display: inline-block;*/
	padding-top:1rem;
	padding-bottom:1rem;
	list-style-type: none;
}

.navLinks a {
	color:#BFBC9C;
	text-decoration:none;
	padding: 1rem;
}

.navLinks h1 {
	color:#BFBC9C;
	text-decoration:none;
	font-family: 'Euphoria Script', cursive;
	font-size: 2.5rem;
	margin-bottom: 0;
	margin-top: 1rem;
}

.navLinks h3{
	font-family: 'Euphoria Script', cursive;
	color: #BFBC9C;
}

/*for navigation bar on resume, clips and contact page*/
.navLinkssmall {
	list-style-type:none;
	margin:0;
	padding:0;
/*	overflow: hidden;*/
	background-color:#0F2613;
/*	display:flex;*/
}

.navLinkssmall li {
/*	display: inline-block;*/
	padding-top:1rem;
	padding-bottom:1rem;
	text-align:center;
	list-style-type: none;
}

.navLinkssmall a {
	color:#BFBC9C;
	text-decoration:none;
	padding: 1rem;
}

.navLinkssmall h3 {
	font-family: 'Euphoria Script', cursive;
	color: #BFBC9C;
	text-decoration:none;
	font-size: 2rem;
	margin-bottom:0;
	margin-top:1.2rem;
	margin-left: 2rem;
	text-align:center;
}

.navLinkssmall ul {
/*	position:absolute;*/
	right:0;
}

/*for headers on every page*/
h2{
	font-family: 'Euphoria Script', cursive;
	font-size: 3.5rem;
	margin-left: 4rem;
}


/*.hr-lines:before{
		content: " ";
		display:block;
		height: 2px;
		width: 130px;
		position: absolute;
		top: 50%;
		left: 0;
		background: #BFBC9C;
		display: block;
}

.hr-lines:after{
	content: " ";
	height: 2px;
	width: 130px;
	background: #BFBC9C;
	display: block;
	position:absolute;
	top: 50%;
	right:0;
}

.hr-lines{
	position:relative;
	max-width: 500px;
	margin: 100px auto;
	text-align: center;
}*/

/*for about page*/
#about {
	text-align: center;
}
.resize-headshot {
	width: 50%;
}

.overlap {
	position:relative;
	top: -2rem;
	text-align: left;
	padding: 1rem;
	background-color: rgba(166, 124, 76,.75);
}

@media only screen and (min-width: 45em) {  /* 720px */

	#about {
		position: relative;
		text-align: left;
	}
	.resize-headshot {
		position: absolute;
		width: 50%;
	}
	.overlap {
		position: absolute;
		width: 55%;
		top: 3rem;
		right: 0;
	}

	.navLinks li {
/*		font-size: 2rem;*/
		display: inline-block;
	}

	.navLinks
		overflow: hidden;
	}
}

/*@media only screen and (min-width: 53em) {  /* 850px */
/*	.overlap {
		position: absolute;
		width: 40%;
		top: 5rem;
		right: 0;
	}

	#about {
		position: relative;
		text-align: left;
	}

	.resize-headshot {
		position: absolute;
		width: 30%;
	}
}*

/*for resume page*/
iframe {
	margin-left: 10rem;
	margin-right: 10rem;
}

/*for clips page*/
.headers {
	font-family: Carlito, sans-serif;
	text-decoration-line: none;
	font-size: 1rem;
	text-align:center;
}

.news-orgs {
	font-size: 2.5rem;
	color: black;
	background: linear-gradient(180deg, rgba(255,255,255,0) 90%, #153D27 50%);
}

.news-orgs-line {
	text-decoration-line:none;
	color:black;
}

.news-orgs-line:hover {
	color:darkseagreen;
}

.article-img {
	width:100%;
}

.header-line {
	text-decoration:none;
	color:black;
}

.header-line:hover {
	color:darkseagreen;
}

/*.nopadding {
	margin:0;
}
*/
@media only screen and (min-width: 45em) {  /* 720px */ 
	.nopadding {
		margin:0;
	}
}

/*for contact page*/

.mail img {
	width:150%;
}


@media (min-width: 680px) {
	.navLinkssmall li {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
	.navLinkssmall {
		list-style-type:none;
		margin:0;
		padding:0;
		overflow: hidden;
		background-color:#0F2613;
		display:flex;
	}

/*	.navLinkssmall li {
		display: inline-block;
		padding-top:1rem;
		padding-bottom:1rem;
		border: 1px solid blue;
	}*/

	.navLinkssmall a {
		color:#BFBC9C;
		text-decoration:none;
		padding: 1rem;
	}

	.navLinkssmall h3 {
		font-family: 'Euphoria Script', cursive;
		color: #BFBC9C;
		text-decoration:none;
		font-size: 2rem;
		margin-bottom:0;
		margin-top:1.2rem;
		margin-left: 2rem;
	}

	.navLinkssmall ul {
		position:absolute;
		right:0;
	}
}


