html {
	font-size: 16px;
}

body{
  background-image: url(SO_texture_bg.jpg);
  background-repeat:repeat;
}

.navLinks {
	list-style-type:none;
	text-align: center;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#0F2613;
}

.navLinks li {
	display: inline-block;
	padding-top:1rem;
	padding-bottom:1rem
}

.navLinks a {
	color:#BFBC9C;
	text-decoration:none;
	padding: 1rem;
}

.navLinks h1 {
	color:#BFBC9C;
	text-decoration:none;
	font-family: 'Euphoria Script', cursive;
	font-size: 5rem;
	margin-bottom: 0;
	margin-top: 1rem;
}

.navLinks h3{
	font-family: 'Euphoria Script', cursive;
	color: #BFBC9C;
}

h2{
	font-family: 'Euphoria Script', cursive;
	font-size: 3.5rem;
	margin-left: 4rem;
}


/*.hr-lines:before{
		content: " ";
		display:block;
		height: 2px;
		width: 130px;
		position: absolute;
		top: 50%;
		left: 0;
		background: #BFBC9C;
		display: block;
}

.hr-lines:after{
	content: " ";
	height: 2px;
	width: 130px;
	background: #BFBC9C;
	display: block;
	position:absolute;
	top: 50%;
	right:0;
}

.hr-lines{
	position:relative;
	max-width: 500px;
	margin: 100px auto;
	text-align: center;
}*/

.resize-headshot {
	margin-top: 2rem;
	margin-left: 7rem;
	width: 70%;
	border-color: black;
}

iframe {
	margin-left: 10rem;
	margin-right: 10rem;
}

.navLinkssmall {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#0F2613;
	display:flex;
}

.navLinkssmall li {
	display: inline-block;
	padding-top:1rem;
	padding-bottom:1rem;
	text-align: right;
}

.navLinkssmall a {
	color:#BFBC9C;
	text-decoration:none;
	padding: 1rem;
}

.navLinkssmall h3 {
	font-family: 'Euphoria Script', cursive;
	color: #BFBC9C;
	text-decoration:none;
	font-size: 2rem;
	margin-bottom:0;
	margin-top:1.2rem;
	margin-left: 2rem;
}

.overlap {
	position:relative;
	right: 10%;
	margin-top: 2rem;
	background-color: rgba(166, 124, 76,.5);
    box-sizing: border-box;
}

.headers {
	font-family: Carlito, sans-serif;
	text-decoration:none;
	font-size: 1rem;
}

.news-orgs {
	font-size: 2.5rem;
		background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #BFBC9C 50%)
}

.article-img{
	width:100%;
}





